*{
    margin: 0;
    padding: 0;

}
header{
    margin: auto;
    width: 800px;
    max-width: 800px;

    background-color: #0008;
}
.header-inner{
    height: 200px;
    max-height: 200px;
}
h1{
    text-align: center;
    margin: 0 auto;
}
nav{
    background-color: yellow;
}
nav ul li{
    list-style: none;
    background-color: orange;
    border: 1px solid greenyellow;
    padding: 10px 25px;
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: white;
}