.clearfix{
    clear: both;
}
.main-header{
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px 0;
}
.main-header .logo-container{
    text-align: center;
}
.main-header .subscribe{
    color: #6c757d!important;
}
.main-header .subscribe-container{
    padding-top: 4px;
}
.main-header .logo{
    font-size: 2.25rem;
    color: #343a40!important;
}
.main-header .logo:hover{
    text-decoration: none;
}
.main-header .register{
    color: #6c757d;
    border-color: #6c757d;
    float: right;
}
.main-header .register:hover{
    background-color: #6c757d;
    color: white;
}
.navigation li a{
    padding: 8px;
    font-size: 16px;
    height: 2.75rem;
    margin-left: 5px;
    color:#6c757d ;
}
.navigation li a:hover{
    border-bottom: 2px solid red;
}
.banner{
    background-image: url("../images/php.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0 !important;
    min-height: 350px;
}
.banner h1{
    color: white;
    width: 70%;
    padding: 50px;
    font-size: 32px;
}
.feature-post-row{
    margin: 48px 0;
}
.feature-post {
}
.feature-post .feature-inner{
    border: 1px solid #6c757d;
    border-radius: 3px;
    box-shadow: 1px 1px #0009;
    padding-left: 15px;
}
.feature-post-row img{
    max-width: 100%;
    object-fit: contain;
    width: 100%;
}
.feature-post .feature-post-content{
    width: 60%;
    float: left;
    padding: 1.5rem!important;
}
.feature-post .featute-post-thumbnail{
    width: 40%;
   float: left;
}
.blog-item{
    margin: 20px 0;
}
footer {
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #6c757d;;
}
.font-italic{
    font-style: italic!important;
}